<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288291678097-2q3jhjekn5c7cledhb2pd671ge4hnbca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288291678097-2q3jhjekn5c7cledhb2pd671ge4hnbca</string>
	<key>API_KEY</key>
	<string>AIzaSyCV9PI5zV7qF_puetSs36kV74Nth_E77XM</string>
	<key>GCM_SENDER_ID</key>
	<string>288291678097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TicketStory</string>
	<key>PROJECT_ID</key>
	<string>ticketstory-89a3a</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketstory-89a3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288291678097:ios:f6be6178b07cc80b6e5c30</string>
</dict>
</plist>